<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Panel</title>
    <link rel="stylesheet" href="../css/main.css" />
    <link rel="stylesheet" href="../css/panel.css" />
    <link rel="stylesheet" href="../assets/icons/css/uicons-solid-rounded.css">
    <link rel="stylesheet" href="../css/calendar.css">
    <link rel="shortcut icon" href="./assets/img/Logos/Logo TEXT.svg">
    <link href="" rel="stylesheet">
  </head>
  <body>
    <main>
      <div class="contenedor">
        <header>
            <section class="item-logo">
                <figure><img src="../assets/img/Logos/Logo TEXT.svg" alt=""></figure>
            </section>
            <a href="" class="item-panel item-panel-1">
                <i class="fi-sr-calendar icon-panel"></i>
                <p href="">Calendario</p>
            </a>
            <a href="" class="item-panel item-panel-2">
                <i class="fi-sr-stethoscope icon-panel"></i>
                <p href="">Diagnóstico</p>
            </a>
            <a href="" class="item-panel item-panel-3">
                <i class="fi-sr-user icon-panel"></i>
                <p href="">Perfil</p>
            </a>
            <a href="" class="item-panel item-panel-4">
                <i class="fi-sr-interrogation icon-panel"></i>
                <p href="">Ayuda</p>
            </a>
        </header>
        <article class="con-head">
          <section class="con-name-pag"><h2>Panel</h2></section>
          <section class="con-user-info">
            <h3>Nombre User</h3>
            <a href="">CERRAR SESIÓN</a>
          </section>
          <section class="con-photo-p">
            <figure><img src="../assets/img/userPhotos/DC.png" alt="" /></figure>
          </section>
        </article>

        <!-- Contendor -->
        <article class="con-panel">
            <!-- inicio Calendario -->
            <!-- Información Calendario -->
          <section class="info-calendar">
            <span class="child-info"><i class="fi-sr-angle-left"></i></span>
            <span class="child-info"><h2>ENERO 2022</h2></span>
            <span class="child-info"><i class="fi-sr-angle-right"></i></span>
            <!-- <span class="child-info"><div class="btn-new-cita"><i class="fi-sr-plus"></i></div></span> -->
          </section>

          <!-- Calendario -->
          <section class="calendar">
            <span class="col-calendar">
                <h3>LUN</h3>
            </span>
            <span class="col-calendar">
                <h3>MAR</h3>
            </span>
            <span class="col-calendar">
                <h3>MIÉ</h3>
            </span>
            <span class="col-calendar">
                <h3>JUE</h3>
            </span>
            <span class="col-calendar">
                <h3>VIE</h3>
            </span>
            <span class="col-calendar">
                <h3>SÁB</h3>
            </span>
            <span class="col-calendar">
                <h3>DOM</h3>
            </span>
            <span class="cell-calendar row-one">
              <span class="number-ca"> </span>
              <span class="ico-ca"> </span>
            </span>
            <span class="cell-calendar row-one">
              <span class="number-ca"> </span>
              <span class="ico-ca"> </span>
            </span>
            <span class="cell-calendar row-one">
              <span class="number-ca"> 1 </span>
              <span class="ico-ca"> <i class="fi-sr-ambulance"></i></span>
            </span>
            <span class="cell-calendar row-one">
              <span class="number-ca">2 </span>
              <span class="ico-ca"> </span>
            </span>
            <span class="cell-calendar row-one">
              <span class="number-ca">3 </span>
              <span class="ico-ca"> </span>
            </span>
            <span class="cell-calendar row-one">
              <span class="number-ca">4 </span>
              <span class="ico-ca"> </span>
            </span>
            <span class="cell-calendar row-one">
              <span class="number-ca">5 </span>
              <span class="ico-ca"> </span>
            </span>
            <span class="cell-calendar row-two">
              <span class="number-ca">6 </span>
              <span class="ico-ca"> </span>
            </span>
            <span class="cell-calendar row-two">
              <span class="number-ca">7 </span>
              <span class="ico-ca"> </span>
            </span>
            <span class="cell-calendar row-two">
              <span class="number-ca">8 </span>
              <span class="ico-ca"> </span>
            </span>
            <span class="cell-calendar row-two">
              <span class="number-ca">9 </span>
              <span class="ico-ca"> </span>
            </span>
            <span class="cell-calendar row-two">
              <span class="number-ca">10 </span>
              <span class="ico-ca"> <i class="fi-sr-ambulance"></i></span>
            </span>
            <span class="cell-calendar row-two">
              <span class="number-ca">11 </span>
              <span class="ico-ca"> </span>
            </span>
            <span class="cell-calendar row-two">
              <span class="number-ca">12 </span>
              <span class="ico-ca"> </span>
            </span>
            <span class="cell-calendar row-three">
              <span class="number-ca">13 </span>
              <span class="ico-ca"> </span>
            </span>
            <span class="cell-calendar row-three">
              <span class="number-ca">14 </span>
              <span class="ico-ca"> </span>
            </span>
            <span class="cell-calendar row-three">
              <span class="number-ca">15 </span>
              <span class="ico-ca"> </span>
            </span>
            <span class="cell-calendar row-three">
              <span class="number-ca">16 </span>
              <span class="ico-ca"> </span>
            </span>
            <span class="cell-calendar row-three">
              <span class="number-ca">17 </span>
              <span class="ico-ca"> </span>
            </span>
            <span class="cell-calendar row-three">
              <span class="number-ca">18 </span>
              <span class="ico-ca"> </span>
            </span>
            <span class="cell-calendar row-three">
              <span class="number-ca">19 </span>
              <span class="ico-ca"> </span>
            </span>
            <span class="cell-calendar row-four">
              <span class="number-ca">20 </span>
              <span class="ico-ca"> </span>
            </span>
            <span class="cell-calendar row-four">
              <span class="number-ca">21 </span>
              <span class="ico-ca"> </span>
            </span>
            <span class="cell-calendar row-four">
              <span class="number-ca">22 </span>
              <span class="ico-ca"> </span>
            </span>
            <span class="cell-calendar row-four">
              <span class="number-ca">23 </span>
              <span class="ico-ca"> </span>
            </span>
            <span class="cell-calendar row-four">
              <span class="number-ca">24 </span>
              <span class="ico-ca"> </span>
            </span>
            <span class="cell-calendar row-four">
              <span class="number-ca">25 </span>
              <span class="ico-ca"> </span>
            </span>
            <span class="cell-calendar row-four">
              <span class="number-ca">26 </span>
              <span class="ico-ca"> </span>
            </span>
            <span class="cell-calendar row-five">
              <span class="number-ca">27 </span>
              <span class="ico-ca"> </span>
            </span>
            <span class="cell-calendar row-five">
              <span class="number-ca">28 </span>
              <span class="ico-ca"> <i class="fi-sr-ambulance"></i></span>
            </span>
            <span class="cell-calendar row-five">
              <span class="number-ca">29 </span>
              <span class="ico-ca"> </span>
            </span>
            <span class="cell-calendar row-five">
              <span class="number-ca">30 </span>
              <span class="ico-ca"> </span>
            </span>
            <span class="cell-calendar row-five">
              <span class="number-ca"> </span>
              <span class="ico-ca"> </span>
            </span>
            <span class="cell-calendar row-five">
              <span class="number-ca"> </span>
              <span class="ico-ca"> </span>
            </span>
            <span class="cell-calendar row-five">
              <span class="number-ca"> </span>
              <span class="ico-ca"> </span>
            </span>
          </section>
        </article>
      </div>
    </main>
  </body>
</html>